<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>Import</title>
</head>
<body>
<div layout:fragment="content">
    Import

    <form th:action="@{/import}" method="post" enctype="multipart/form-data">
        <div class="field">
            <label class="label" for="source">Source</label>
            <div class="control">
                <div class="select">
                    <select id="source" name="source">
                        <option>Dawarich</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="field">
            <label class="label" for="file">File</label>
            <div class="control">
                <input id="file" class="input" type="file" name="content"/>
            </div>
        </div>
        <div class="control">
            <input class="button is-link" type="submit" value="Submit"/>
        </div>
    </form>
</div>
</body>
</html>
