<!DOCTYPE HTML>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Lokasi</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
<body>
<main class="container">
    <nav class="navbar" th:replace="~{header :: ${name == null } ? 'header-out' : 'header-in'}"></nav>
    <div layout:fragment="content"></div>
</main>
</body>
</html>
