<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
<body>
<div layout:fragment="content">
    <form th:action="@{/login}" method="post">
        <div class="field">
            <label class="label" for="username">Username</label>
            <div class="control">
                <input id="username" class="input" type="text" name="username" autocomplete="username"/>
            </div>
        </div>
        <div class="field">
            <label class="label" for="password">Password</label>
            <div class="control">
                <input id="password" class="input" type="password" name="password" autocomplete="password"/>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <label class="checkbox">
                    <input type="checkbox" name="remember-me"/>
                    Remember Me
                </label>
            </div>
        </div>
        <div class="control">
            <input class="button is-link" type="submit" value="Sign In"/>
        </div>
    </form>
</div>
</body>
</html>
