<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>Map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>
    <style>
        #map {
            width: 100%;
            height: 80vh;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <form class="is-flex is-flex-direction-row is-align-items-self-end">
        <div class="field mr-3">
            <label class="label" for="start">Start</label>
            <div class="control">
                <input id="start" class="input" type="datetime-local" name="start" aria-label="Start"
                       th:value="${start}">
            </div>
        </div>
        <div class="field mr-3">
            <label class="label" for=>End</label>
            <div class="control">
                <input id="end" class="input" type="datetime-local" name="end" aria-label="End" th:value="${end}">
            </div>
        </div>
        <div class="field mb-3">
            <div class="control">
                <input class="button is-link" type="submit" value="Search"/>
            </div>
        </div>
    </form>
    <div id="map"></div>
    <script th:inline="javascript">
        function humanize(str) {
            var output = "";
            var len = str.length;
            var char;

            for (var i = 0; i < len; i++) {
                char = str.charAt(i);

                if (i == 0) {
                    output += char.toUpperCase();
                } else if (char !== char.toLowerCase() && char === char.toUpperCase()) {
                    output += " " + char;
                } else if (char == "-" || char == "_") {
                    output += " ";
                } else {
                    output += char;
                }
            }

            return output;
        }

        var map = L
            .map('map')
            .setView(/*[[${lastLocation}]]*/ [-6.1750, 106.8266], 13);

        L
            .tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            })
            .addTo(map);

        const lines = /*[[${lines}]]*/ null;

        L
            .geoJSON(lines)
            .bindPopup(function (layer) {
                const content = document.createElement("p");
                Object.keys(layer.feature.properties).forEach((key) => {
                    const value = layer.feature.properties[key];
                    if (!value) return;
                    const data = document.createElement("span");
                    data.innerHTML = "<b>" + humanize(key) + ": </b>" + value + "<br/>";
                    content.appendChild(data);
                });
                return content;
            })
            .addTo(map);

        const points = /*[[${points}]]*/ null;

        L
            .geoJSON(points, {
                pointToLayer: function (point, latlng) {
                    return L.circleMarker(latlng, {radius: 7, fillColor: "white", fillOpacity: 1});
                }
            })
            .bindPopup(function (layer) {
                const content = document.createElement("p");
                Object.keys(layer.feature.properties).forEach((key) => {
                    const value = layer.feature.properties[key];
                    if (!value) return;
                    const data = document.createElement("span");
                    data.innerHTML = "<b>" + humanize(key) + ": </b>" + value + "<br/>";
                    content.appendChild(data);
                });
                return content;
            })
            .addTo(map);
    </script>
</div>
</body>
</html>
