name: build

on:
  push:
    branches: ['main']
    tags: ['v*.*.*']
    paths-ignore:
      - 'Readme.md'
      - '.github/screenshots/**'

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  test-webui:
    name: 'Test Web UI'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4

      - name: Install dependencies
        working-directory: webui
        run: npm ci

      - name: Install Playwright Browsers
        working-directory: webui
        run: npx playwright install --with-deps

      - name: Run tests
        working-directory: webui
        run: npm run test

  test-api:
    name: 'Test API'
    runs-on: ubuntu-latest

    services:
      mosquitto:
        image: eclipse-mosquitto
        ports:
          - 1883:1883
        volumes:
          - /tmp/docker/mosquitto/config:/mosquitto/config
        options: --name mosquitto

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Prepare mosquitto config
        run: |
          sudo mkdir -p /tmp/docker/mosquitto/config
          echo -e 'listener 1883\nallow_anonymous true\nlog_type error warning notice information\n' | sudo tee /tmp/docker/mosquitto/config/mosquitto.conf
          docker restart mosquitto

      - uses: graalvm/setup-graalvm@v1
        with:
          java-version: '21'
          distribution: 'graalvm'
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install Spatialite
        run: |
          sudo apt update && \
          sudo apt install -y libspatialite-dev libsqlite3-mod-spatialite spatialite-bin

      - name: Running tests
        run: mvn test
        env:
          MQTT_ENABLE: true
          MQTT_SERVER: tcp://127.0.0.1:1883
          ADMIN_USERNAME: test
          ADMIN_PASSWORD: test
          JWT_SECRET: jwt-secret-for-test
          JWT_REFRESH_SECRET: jwt-refresh-secret-for-test

  build-webui:
    name: 'Build Web UI'
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    needs:
      - test-webui
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4

      - name: Install dependencies
        working-directory: webui
        run: npm ci

      - name: Build webui
        working-directory: webui
        run: npm run build

      - name: Upload production-ready build files
        uses: actions/upload-artifact@v4
        with:
          name: webui-production-files
          path: ./webui/dist

  build:
    name: 'Build Application'
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
      packages: write
    needs:
      - build-webui
      - test-api
    strategy:
      matrix:
        os: [ubuntu-latest, ubuntu-24.04-arm]
        include:
          - os: ubuntu-latest
            platform: linux/amd64
          - os: ubuntu-24.04-arm
            platform: linux/arm64
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download webui
        uses: actions/download-artifact@v4
        with:
          name: webui-production-files
          path: ./webui/dist

      - uses: graalvm/setup-graalvm@v1
        with:
          java-version: '21'
          distribution: 'graalvm'
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Prepare
        run: |
          platform=${{ matrix.platform }}
          echo "PLATFORM_PAIR=${platform//\//-}" >> $GITHUB_ENV

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      - name: Install Spatialite
        run: |
          sudo apt update && \
          sudo apt install -y libspatialite-dev libsqlite3-mod-spatialite spatialite-bin

      - name: Build
        run: mvn native:compile -Pnative -Dmaven.test.skip

      - name: Build Docker image
        id: build-image
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: ${{ matrix.platform }}
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          labels: ${{ steps.meta.outputs.labels }}
          outputs: type=image,push-by-digest=true,name-canonical=true,push=true

      - name: Export digest
        run: |
          mkdir -p ${{ runner.temp }}/digests
          digest="${{ steps.build-image.outputs.digest }}"
          touch "${{ runner.temp }}/digests/${digest#sha256:}"

      - name: Upload digest
        uses: actions/upload-artifact@v4
        with:
          name: digests-${{ env.PLATFORM_PAIR }}
          path: ${{ runner.temp }}/digests/*
          if-no-files-found: error
          retention-days: 1

  merge:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    needs:
      - build
    steps:
      - name: Download digests
        uses: actions/download-artifact@v4
        with:
          path: ${{ runner.temp }}/digests
          pattern: digests-*
          merge-multiple: true

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}

      - name: Create manifest list and push
        working-directory: ${{ runner.temp }}/digests
        run: |
          docker buildx imagetools create $(jq -cr '.tags | map("-t " + .) | join(" ")' <<< "$DOCKER_METADATA_OUTPUT_JSON") \
            $(printf '${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}@sha256:%s ' *)

      - name: Inspect image
        run: |
          docker buildx imagetools inspect ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ steps.meta.outputs.version }}
